{{ $achievementImage := resources.Get .image }}
{{ $achievementImageLg := ""}}
{{ $achievementImageSm := ""}}

{{/* resize the images. don't resize svg image because its not supported */}}
{{ if $achievementImage }}
  {{ $achievementImageSm = $achievementImage.Resize "x300" }}
  {{ $achievementImageSm =  $achievementImageSm.RelPermalink }}
  {{ $achievementImageLg = $achievementImage.Resize "x1500" }}
  {{ $achievementImageLg =  $achievementImageLg.RelPermalink }}
{{ end }}
<div   class="text-center">
  <img src="{{ $achievementImageSm }}" alt="{{ .title }}" class="img-fluid d-none" id="Image" />
  <h4 class="title" >{{ .title }}</h4>
  <div class="caption hidden col-lg-6 text-start" id="caption">
    
     <p>{{ .summary | markdownify }}</p>
    {{ if .url }}
      <a class="btn btn-info ms-1 ps-2 mb-2" href="{{ .url }}" target="_blank" rel="noopener" role="button">{{ i18n "project_details"}}</a>
    {{ end }}
  </div>
</div>
