
    <div id="profile">
        
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                         {{ partial "sections/skills" . }}
                         {{ partial "sections/experiences" . }}
                         {{ partial "sections/project" . }}
                         {{ partial "sections/certifications" . }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        
    </div>
    <!-- /#profile -->
